# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VSCode and IDE folders
.vscode/
.idea/

# OS files
.DS_Store